@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<p>Criador da Aplicação @ViewData["criador"]</p>

<address>
    <strong>Mais Informações: </strong> <a href="https://github.com/gilidio8">GitHub</a>
</address>

